<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>General Chat</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
    <h2>General Chat </h2>
    <p>Welcome, <span th:text="${username}"></span> </p>
    <div id="chatBox">
        <label for="messageInput">Enter your message:</label>
        <input type="text" id="messageInput" autocomplete="off">
    </div>
    <div id="messages">

    </div>
    <script src="/js/chat.js"></script>
</body>
</html>