<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Chat</title>
    <style>
        #chat{
            display: none;
        }
    </style>
</head>
<body>
    <h3>Please login below</h3>
    <div id="login" th:if="${username == null}">
        <form id="loginForm" th:action="@{/login}" method="post">
            <label for="username">Enter Username:</label>
            <input type="text" id="username" name="username" autocomplete="username" required>
        </form>
    </div>

    <div id="chat" th:if="${username != null}">
        <h2>Welcome,<span id="user" th:text="${username}"></span></h2>
        <div>
            <h3>Channels</h3>
            <ul>
                <li><a href="/channels/general">General Chat</a></li>
                <li><a href="/channels/private">Private Chat</a></li>
            </ul>
        </div>
    </div>

    <script src="/js/login.js"></script>

</body>
</html>