<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Chat</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<h3 id="loginPrompt">Please login below</h3>
<div id="login">
    <label for="username">Enter Username:</label>
    <input type="text" id="username" name="username" autocomplete="off" required>
</div>
<br>
<div id="channels">
    <h3>Chat Channels</h3>
    <ul>
        <li><a id="generalChannel" th:href="@{/channels/general}">General Chat</a></li>
        <li><a id="privateChannel" th:href="@{/channels/private}">Private Chat</a></li>
    </ul>
</div>

<script src="/js/login.js"></script>
</body>
</html>
